<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SBA-318 | Phil Curran</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" type="image/x-icon" href="./favicon.ico" />
  </head>
  <body>
    <div class="container">
      <h1>TaskMaster</h1>
      <p>
        <a href="/add-task"><button>Add Task</button></a>
      </p>
      <% const getUserName = (task) => { let temp = users.find((user) => user.id
      === task.userId); return temp ? temp.name : 'Unknown User'; } %> <% if
      (tasks.length > 0) { %> <% tasks.forEach(task => { %>
      <a href="/tasks/<%= task.id %>">
        <article>
          <header class="title">#<%= task.id %> - <%= task.title %></header>
          <p class="snippet"><%= task.content %></p>
          <hr />
          <p>Added by: <%= getUserName(task) %> on <%= task.dateAdded %></p>
        </article>
      </a>
      <% }) %> <% } else { %>
      <p>There are no tasks to display...</p>
      <% } %>
    </div>
  </body>
</html>
